<h1>Add a new contact</h1>
<form action="/submit_new">
<label>First Name</label>
<input type="text" placeholder="First Name" id="first_name" name="first_name">
<label>Last Name</label>
<input type="text" placeholder="Last Name" id="last_name" name="last_name">
<label>Last Contact Date</label>
<input type="text" placeholder="Last Contact Date" id="last_contact_date" name="last_contact_date">
<label>Last Contact Notes</label>
<input type="text" placeholder="Last Contact Notes" id="last_contact_notes" name="last_contact_notes">
<label>Bio</label>
<input type="text" placeholder="Bio" id="bio" name="bio">
<label>Image URL</label>
<input type="text" placeholder="Photo URL" id="photo_url" name="photo_url">
<button>Submit</button>
</form>
