<h1>Add a new contact</h1>

  <form action="/submit_new">
    <div class="form-group">
    <label>First Name</label>
    <input type="text" placeholder="First Name" id="first_name" name="first_name">
    </div>
    <div class="form-group">
    <label>Last Name</label>
    <input type="text" placeholder="Last Name" id="last_name" name="last_name">
    </div>
    <div class="form-group">
    <label>Last Contact Date</label>
    <input type="text" placeholder="Last Contact Date" id="last_contact_date" name="last_contact_date">
    </div>
    <div class="form-group">
    <label>Last Contact Notes</label>
    <input type="text" placeholder="Last Contact Notes" id="last_contact_notes" name="last_contact_notes">
    </div>
    <div class="form-group">
    <label>Bio</label>
    <input type="text" placeholder="Bio" id="bio" name="bio">
    </div>
    <div class="form-group">
    <label>Image URL</label>
    <input type="text" placeholder="Photo URL" id="photo_url" name="photo_url">
    </div>
    <button>Submit</button>

</form>
